.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(11, 19, 30, 0.37);
  z-index: 5;
}

.modalStyle {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  min-width: 375px;
  background-color: #ffffff;
  z-index: 5;
  padding: 24px;
  margin: auto;
  max-width: 800px;
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  scrollbar-width: none;
}

.modalClose {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transform: translateY(-10px); /* SVG를 위로 2px 이동 */
}
