.search_btn {
  border-radius: 0px 5px 5px 0px;
  border-width: 2px 2px 2px 0px;
  width: 69px;
  display: none;
  background-color: #78d2f3;
  object-fit: cover;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}
.search_btn_img {
  width: 50%;
  height: 50%;

  object-fit: contain; /* 이미지 비율을 유지하면서 요소에 맞게 조정 */
  @media screen and (min-width: 1024px) {
    width: 30%;
    height: 30%;
  }
}
