.title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
  text-transform: none;
  padding-top: 16px;
  padding-bottom: 24px;
}
.daySection {
  padding-bottom: 24px;
}
.dayText {
  padding-bottom: 24px;
}
.container {
  margin-bottom: 24px;
  max-height: 400px; // 스크롤 가능한 최대 높이 설정
  overflow-y: auto; // 세로 스크롤 추가
}
.text {
  color: rgb(51, 51, 51);

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-transform: none;
  margin-bottom: 8px;
  font-weight: 500;
}
.timeWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.time_button {
  width: 75px;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;

  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: none;
  height: 32px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;
  background-color: #78d2f3;
  border: 1px solid #78d2f3;
  color: rgb(51, 51, 51);
  flex: 0 0 auto;
}

.showMoreButton {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  // border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  max-width: 100%;
  overflow: auto;
  width: 250px;

  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: none;
  height: 32px;
  padding: 0px 12px;
  margin-right: 16px;
}
