.section {
  padding-bottom: 200px;
  border: 1px solid #ddd; /* 더 부드러운 색상 */
  border-radius: 8px; /* 모서리를 부드럽게 */
  // overflow: hidden;
}

.title {
  padding: 0px 24px;
  margin: 40px 0px 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.doctor_wrapper {
  max-height: 1000px;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}
.doctor_title {
  padding: 20px 24px;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: rgb(28, 29, 31);
  margin-left: 8px;
}

.doctor_list {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: rgb(247, 249, 250); // 기본 설정은 데스크톱 또는 노트북의 최대값 768px
  width: 600px;
  margin: 0 auto; // 가운데 정렬

  // 모바일 화면일 경우
  @media (max-width: 768px) {
    width: 365px;
  }
}

.doctor_item {
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: 1.5px solid rgb(223, 225, 226);
  background-color: rgb(255, 255, 255);
  padding: 14.5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px 0px;
}
.item_selected {
  border: 1.5px solid #148aff;
}

.item_img_wrapper {
  margin-right: 16px;
  border-radius: 16px;
  background-color: rgb(237, 239, 240);
}

.img {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.doctor_name_wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.departmentName_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
}

.departmentName {
  display: flex;

  justify-content: center;

  align-items: center;
  padding: 3px 8px;
  border-radius: 6px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgb(113, 118, 122);
  background-color: rgb(247, 249, 250);
}

.next_wrapper {
  // cursor: pointer;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background: transparent;
}
.next_line {
  height: 24px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.next_button_wrapper {
  padding: 0px 24px 12px;
  background-color: rgb(255, 255, 255);
}
.next_button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: rgb(255, 255, 255);
  background-color: #148aff;
}
