//  form 스타일
.form {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.inputContainer {
  display: block;

  line-height: 1.5;
}
.inputLabel {
  display: inline-block;
  font-weight: 500;
  color: rgb(33, 37, 41);
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
}

.input {
  height: 3.125rem;
  -webkit-tap-highlight-color: transparent;
  line-height: calc(3rem);
  appearance: none;
  resize: none;
  box-sizing: border-box;
  font-size: 1.125rem;
  width: 100%;
  color: rgb(0, 0, 0);
  display: block;
  text-align: left;
  border: 0.0625rem solid rgb(206, 212, 218);
  background-color: rgb(255, 255, 255);
  transition: border-color 100ms ease 0s;
  min-height: 3.125rem;
  padding-left: calc(1.04167rem);
  padding-right: calc(1.04167rem);
  border-radius: 0.5rem;

  &:focus {
    border-color: rgb(33, 37, 41);
    outline: none; /* 기본 포커스 스타일 제거 */
  }
}
.intputSex {
  height: 3.125rem;
  -webkit-tap-highlight-color: transparent;
  line-height: calc(3rem);
  appearance: none;
  resize: none;
  box-sizing: border-box;
  font-size: 1.125rem;
  width: 50px;
  color: rgb(0, 0, 0);
  display: block;
  text-align: left;
  border: 0.0625rem solid rgb(206, 212, 218);
  background-color: rgb(255, 255, 255);
  transition: border-color 100ms ease 0s;
  min-height: 3.125rem;
  padding-left: calc(1.04167rem);
  padding-right: calc(1.04167rem);
  border-radius: 0.5rem;
  &:focus {
    border-color: rgb(33, 37, 41);
    outline: none; /* 기본 포커스 스타일 제거 */
  }
}

.inputText {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.flex {
  display: flex;
}

.subSend {
  margin-left: 0.2rem;
  height: 3.125rem;
  min-height: 3.125rem;
  padding-left: calc(1.04167rem);
  padding-right: calc(1.04167rem);
  box-sizing: border-box;
  font-weight: 600;
  border: 0.0625rem solid transparent;
  background-color: #2dc8f3;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.register {
  height: 3.125rem;
  min-height: 3.125rem;
  padding-left: calc(1.04167rem);
  padding-right: calc(1.04167rem);
  box-sizing: border-box;
  font-weight: 600;
  border: 0.0625rem solid transparent;
  background-color: #2dc8f3;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.eroWrapper {
  margin-top: 3px;
  width: 100%;
}
.eroText {
  -webkit-tap-highlight-color: transparent;
  color: rgb(250, 82, 82);
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 1.5;
}

.idcheckText {
  -webkit-tap-highlight-color: transparent;
  color: rgb(82, 82, 250);
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 1.5;
}
