.container {
  width: 100%;
  position: relative;
  background-color: #f0f8ff;
  // overflow: hidden;
}

// form
.formContainer {
  margin: 0px auto;
  max-width: 1080px;
  padding: 24px 8px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 115px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

// main
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  @media screen and (min-width: 1024px) {
    margin: 0px 0px 0px 60px;
    width: calc(100% - 432px);
  }
  @media screen and (min-width: 1280px) {
    margin: 0px 0px 0px 85px;
    width: calc(100% - 494px);
  }
  @media screen and (min-width: 1440px) {
    margin: 0 auto;
    width: calc(100% - 692px);
  }
}

.articleWrapper {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  // min-height: 1000px;
}
